.auto-styleMaster1 {
    text-align: center;
    color: #CC99FF;
}

.auto-styleMaster2 {
    color: #6600FF;
    font-size: xx-large;
}

.auto-style1 {
    text-align: justify;
    font-size: x-large;
}

.auto-style2 {
    font-size: medium;
}

.auto-style3 {
    color: #009999;
}

.auto-style4 {
    color: #00CCFF;
}

.auto-style5 {
    color: #00CCFF;
    font-size: x-large;
}

.auto-style6 {
    color: #000000;
    font-size: medium;
}

.auto-style7 {
    color: #003366;
    font-size: x-large;
}
